html,body{
  height: 100%;
  margin: 0;
}
section{
  background-color: rgb(0, 29, 46);
}
a{
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
  opacity: 0.5;
}
a:hover{
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 1);
  opacity: 1;
}
a img{
  width: 70px;
  padding: 10px;
}
#panel{
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
  color: white;
  padding:10px;
  margin-bottom:10px;
}
#panel:hover{
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 1);
}
canvas{
  width: 100%;
  height: 83%;
  background-color: rgb(0, 29, 46);
}
.canvas{
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  position: absolute;
}
#canvas-draft {
  background-color: transparent;
}
#sizeText{
  color: rgba(255, 255, 255, 0.5) ;
}
#fontText{
  color: rgba(255, 255, 255, 0.5) ;
}
#colorText{
  color: rgba(255, 255, 255, 0.5) ;
}
#red{
  background-color: rgb(255, 0, 0);
  color:red ;
  width: 50px;
  height: 50px;
}
#orange{
  background-color: orange;
  color:orange ;
  width: 50px;
  height: 50px;
}
#yellow{
  background-color: yellow;
  color:yellow ;
  width: 50px;
  height: 50px;
}
#green{
  background-color: green;
  color:green ;
  width: 50px;
  height: 50px;
}
#blue{
  background-color: blue;
  color:blue ;
  width: 50px;
  height: 50px;
}
#indigo{
  background-color: indigo;
  color:indigo ;
  width: 50px;
  height: 50px;
}
#white{
  background-color: white;
  color:white ;
  width: 50px;
  height: 50px;
}
#grey{
  background-color: grey;
  color:grey;
  width: 50px;
  height: 50px;
}
#black{
  background-color: black;
  color:black ;
  width: 50px;
  height: 50px;
}
#fontPicker{
  padding-left: 10%;
  padding-right: 10%;
}